@use "../../styles/partials/utilities/variables" as *;
@use "../../styles/partials/utilities/mixins" as *;

.order {

    &__title,
    &__text {
        margin: 1rem 0;
    }

    &__check {
        background-color: $accent-primary;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        margin-bottom: 1rem;
    }

    &__summary {
        @include tablet-and-desktop {
            @include flex(row, center, normal)
        }
    }

    &__items {
        background-color: $bg-primary;
        color: $bg-mid;
        border-radius: 10px 10px 0 0;
        padding: 1rem;
        list-style: none;

        @include tablet-and-desktop {
            border-radius: 10px 0 0 10px;
        }
    }

    &__divider {
        height: .1rem;
        background-color: $bg-mid;
        width: 100%;
        margin-bottom: 1rem;
    }

    &__quantity {
        text-align: center;
    }

    &__total {
        background-color: $bg-secondary;
        color: $text-secondary-faint;
        border-radius: 0 0 10px 10px; 
        padding: 1.5rem;

        @include tablet-and-desktop {
            @include flex(column, center, flex-start);
            border-radius: 0 10px 10px 0;
            padding: 1.5rem;
            min-width: 40%;
        }

        &-heading {
            font-weight: 400;
            font-size: .8rem;
            margin-bottom: .5rem;

            @include tablet-and-desktop {
                
            }
        }

        &-figure {
            color: $text-secondary;
            border-radius: 0 0 10px 10px;

            @include tablet-and-desktop {
                
            }
        }
    }
}