@font-face {
    font-family: "Manrope";
    src: url("../../../assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../../../assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}