@use "../../styles/partials/utilities/variables" as *;
@use "../../styles/partials/utilities/mixins" as *;

.hero {
  background-color: $bg-secondary;
  @include flex(column);

  &__divider {
    border-top: 1px solid $text-secondary;
    opacity: 50%;
    width: 100%;
    max-width: calc($max-width - 4rem);

    @include tablet-and-desktop {
      width: calc(100% - 4rem);
    }
  }

  &__container {
    @include container;
  }

  &__overline {
    letter-spacing: 0.625rem;
    text-transform: uppercase;
    color: $text-primary-faint;
  }

  &__title {
    text-transform: uppercase;
    color: $text-secondary;
  }

  &__text {
    color: $text-secondary;
  }
}
