@use "../../styles/partials/utilities/variables" as *;
@use "../../styles/partials/utilities/mixins" as *;

.nav {
  @include container;
  @include flex(column);
  gap: 1rem;

  @include tablet-and-desktop {
    flex-direction: row;
  }

  &__wrapper {
    @include flex;
    position: relative;
    padding-top: 2.5rem;
    width: 100%;
    color: $text-primary-faint;

    &:hover {
      color: $accent-primary;
      cursor: pointer;
    }
  }

  &__img {
    position: absolute;
    height: 8rem;
    top: 0;
  }

  &__content {
    @include container;
    @include flex(column, end, center);
    text-align: center;
    background-color: $bg-primary;
    border-radius: 0.5rem;
    padding-top: 5rem;

    @include tablet-and-desktop {
      padding-top: 5rem;
    }
  }

  &__name {
    color: $text-primary;
  }

  &__link {
    @include flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  &__text {
    text-transform: uppercase;
    font-weight: 700;
  }
}
