@use "../../styles/partials/utilities/variables" as *;
@use "../../styles/partials/utilities/mixins" as *;

.checkout {
  @include container;
  background-color: $bg-primary;

  &__btn {
    border: none;
    background-color: transparent;
    margin-bottom: 1rem;
  }
}
