@use "../../styles/partials/utilities/variables" as *;
@use "../../styles/partials/utilities/mixins" as *;

.header {
  background-color: $bg-secondary;

  &__container {
    @include container;
    @include flex;
  }

  &__burger {
    margin-right: auto;

    @include tablet-and-desktop {
      margin-right: 2rem;
    }

    @include desktop {
      display: none;
    }
  }

  &__dropdown {
    position: absolute;
    top: 5.5rem;
    bottom: 0;
    background-color: $text-primary-faint;
    width: 100%;
    z-index: 1;

    @include desktop {
      display: none;
    }

    &-container {
      @include container;
      background-color: $text-secondary;
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }

  &__nav {
    display: none;

    @include desktop {
      @include flex;
      gap: 1rem;
      margin-left: auto;
    }

    &-link {
      color: $text-secondary;
    }

    &-text {
      text-transform: uppercase;
      font-size: 0.9rem;
    }
  }

  &__cart {
    margin-left: auto;
  }
}
