@use "../../styles/partials/utilities/variables" as *;
@use "../../styles/partials/utilities/mixins" as *;

.recommended {
  &__heading {
    font-weight: 500;
    text-align: center;
  }

  &__img {
    border-radius: 10px;

    @include tablet-and-desktop {
      @include flex;
    }

    &--mobile {
      @include tablet-and-desktop {
        display: none;
      }
    }
    &--tablet {
      display: none;
      @include tablet-and-desktop {
        display: block;
      }
      @include desktop {
        display: none;
      }
    }
    &--desktop {
      display: none;
      @include desktop {
        display: block;
      }
    }
  }

  &__item {
    list-style: none;
    margin: 3rem 0 3rem;
    text-align: center;
  }

  &__name {
    margin: 2rem 0;
    font-weight: 500;
    font-size: 1.8rem;
  }

  &__btn {
    background-color: $accent-primary;
    padding: 1rem 1.5rem;
    border: none;
    color: $text-secondary;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: $accent-secondary;
      }
  }

  &__list {
    @include tablet-and-desktop {
      @include flex;
      gap: 1rem;
    }

    @include desktop {
      gap: 2rem;
    }
  }
}
