@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@use "./styles/typography";
@use "./styles/resets";

#root {
  @include flex(column, normal, normal);
  background-color: $text-secondary;
  min-height: 100vh;
  color: $text-primary;
}
