@use "./styles/partials/utilities/variables" as *;
@use "./styles/partials/utilities/mixins" as *;
@use "./styles/partials/base/typography";
@use "./styles/partials/base/reset";

#root {
  @include flex(column, normal, normal);
  background-color: $text-secondary;
  min-height: 100vh;
  color: $text-primary;
}

p {
  font-family: "Manrope";
}
