$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1020px;

$text-primary: #101010;
$text-primary-faint: #00000080;
$text-secondary: #ffffff;
$text-secondary-faint: #ffffff80;
$text-placeholder: #fafafa;

$error: #cd2c2c;
$success: #158463;

$bg-primary: #f1f1f1;
$bg-primary-faint: #e3dcba55;
$bg-secondary: #000000;
$bg-mid: #4c4c4c;

$accent-primary: #d87d4a;
$accent-secondary: #fbaf85;
