$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1020px;

$text-primary: #101010;
$text-secondary: #FFFFFF;
$text-placeholder: #FAFAFA;

$error: #cd2c2c;
$success: #158463;

$bg-primary: #F1F1F1;
$bg-primary-faint: #e3dcba55;
$bg-secondary: #000000;

$accent-primary: #D87D4A;
$accent-secondary: #FBAF85;