$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1020px;

$text-primary: #1d1a0c;
$text-secondary: #eee;
$text-placeholder: #666;

$fail: #c94515;
$success: #158463;

$bg-primary: #e3dcba;
$bg-primary-faint: #e3dcba55;
$bg-secondary: #c4b66e;
$bg-transparent: #eeeeeeaa;

$accent-primary: #00d3d3;
$accent-secondary: #fed93c;
$alt: #52050a;
